.td{
    text-align: center;
}
th{
    text-align: center;
}
table{
    background-color: rgb(222, 226, 230);
    border-radius: 0.5rem;
    margin: 0.1%;
}
.tdCustom
{
    padding-left: 2%;
    margin-left: 2%;
}